<!-- <footer class="p-4 bg-stone sm:p-6 dark:bg-gray-900">
  <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
          <a href="https://animet.tv/" class="flex items-center">
              <img src="assets/logo/animet-tv_chibi_1.webp" class="mr-3 h-8" alt="AnimetTV Logo" />
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">AnimetTV</span>
          </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
          <div>
              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
              <ul class="text-gray-600 dark:text-gray-400">
                  <li class="mb-4">
                      <a [routerLink]="['/info/about']" href="/info/about" class="hover:underline">About Us</a>
                  </li>
                  <li>
                      <a href="https://ko-fi.com/M4M65MUQM" class="hover:underline">Donate</a>
                  </li>
              </ul>
          </div>
          <div>
              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
              <ul class="text-gray-600 dark:text-gray-400">
                  <li class="mb-4">
                      <a [href]="'https://discord.gg/nNY94AqFtK'" class="hover:underline">Discord</a>
                  </li>
              </ul>
          </div>
          <div>
              <ul class="text-gray-600 dark:text-gray-400">
                  <li>
                      <a  [routerLink]="['/info/terms-of-use']"  class="hover:underline">Terms &amp; Conditions</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com/" class="hover:underline">AnimetTV</a>. All Rights Reserved.<br>
        Disclaimer: AnimetTV does not store any files on our server, we only linked to the media which is hosted on 3rd party services.
      </span>
      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
          <a href="https://twitter.com/animet_tv" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" /></svg>
              <span class="sr-only">Twitter page</span>
          </a>
      </div>
  </div>
</footer> -->