<div class="main" fxLayoutAlign="center start">
    <div class="wrapper" fxLayout="row" fxLayoutAlign="space-between space-between">
        <div class="left-container" fxFlex="60%" fxFlex.xs="100%" >
            <div *ngIf="StepOne | async">
                <div class="heading" fxLayout.xs="column" fxLayoutAlign.xs="center">
                    <div class="title">Reset your password</div>
                    <div class="sub-title">The verification email will be sent to the mailbox. <br>Check your spam folder. <span style="font-weight: bold;">Only one change per month.</span></div>
                </div>
                
                <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign.xs="center">
                    <div class="form-container">
                        <input type="email" class="input-item" placeholder="your email" id="email">
                    </div>
                    <button 
                    class="submit-btn"
                    type="submit"
                    mat-raised-button
                    color="accent" 
                    (click)="onSend()"
                    >Send</button>
                </div>
            </div>

            <div *ngIf="StepTwo | async" class="animate__animated animate__animated">
                <div class="heading" fxLayout.xs="column" fxLayoutAlign.xs="center">
                    <div class="title">Enter your new password</div>
                    <div class="sub-title">For: <span class="highlight">{{passwordResetUserEmail | async}}</span><br>Password changes are only allowed one per account, per month.</div>
                </div>
                
                <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign.xs="center">
                    <div class="form-container">
                        <input minlength="6" type="password" class="input-item" placeholder="new password" id="new-password">
                    </div>
                    <button 
                    class="submit-btn"
                    type="submit"
                    mat-raised-button
                    color="accent" 
                    (click)="onSendNewPassword()"
                    >Change Password</button>
                </div>
            </div>

            <div *ngIf="invalidUrl | async" class="animate__animated animate__animated">
                <div class="heading" fxLayout.xs="column" fxLayoutAlign.xs="center">
                    <div class="title">URL is invalid or has expired.</div>
                    <div class="sub-title">If you belive this was a bug please report it to our <br> <a href="https://discord.gg/nNY94AqFtK" target="_blank" style="color: #007FFF; text-decoration: none;">Discord Server</a> thank you!</div>
                </div>

            </div>
        </div>
        <div class="right-container" fxFlex="30%" fxFlex.xs="0%">
            <div class="cover-art">
                <img src="https://img.animet.site/file/animettv-avatars/other/forgot-pass_what_face.jpg" alt="naruto what face" >
            </div>
        </div>
    </div>
</div>


