.main {
    color: white;
    position: relative;
    z-index: 1;
    margin: 4rem auto;
}

.wrapper {
    
}

.left-container {
    min-width: 700px;
}
.heading {
    margin: 1rem 0;
    .title {
        font-size: 2.7rem;
        font-weight: bold;
    }
    .sub-title {
        margin: 20px 0;
        font-size: 1.35rem;
        line-height: 1.7;
    }
}
.submit-btn {
    padding: 10px ;
    margin: 10px 0;
    font-size:1.5em;
    font-weight: bold;
    max-width: 352px;
}

.form-container {
    .input-item {
        cursor: pointer;
        padding: 10px ;
        margin: 10px 0;
        font-size:1.5em;
        font-weight: bold;
        color: #1E1E1E;
        outline: none!important;
        outline-color: rgb(48,50,57);
        border-radius: 3px;
        border: 2px solid #f70b5200;
    }
    .input-item:focus, .input-item:hover {
        border: 2px solid #F70B53;
        box-shadow: 0 0 5px #F70B53;
    }
}
.highlight {
   color: #f72e6a;
   font-weight: bold;
}
.right-container {
   
}
.cover-art {
  img {
      width: 400px;
  }
}

@media only screen and (max-width: 1024px) {
    .main {
        margin: 1.2rem;
    }
    .right-container {
      display: none;
    }
    .left-container {
        min-width: 100%;
    }

    .title {
        font-size: 2.3rem;
    }
    .sub-title {
        font-size: 1.10rem;
    }
  }
