<div class="container">
    <div class="anime-results"> 
        <div 
            class="scroll-buttons" 
            fxLayout="row" 
            fxLayout.xs="column" 
            fxLayoutAlign="space-between center" 
            fxLayoutGap.xs="20px" 
            fxLayoutAlign.xs="space-between"
        
        >
            <div fxLayoutAlign="start">
                <div class="title-wrapper">
                    <div class="title" fxLayout="column">
                        <div fxLayoutAlign="start" class="title-name" id="title-name">{{CarouselTitle}}</div>
                    </div>
                </div>  
            </div>

            <div *ngIf="(isHandset$ | async) === false" fxLayoutAlign="end"  fxLayoutGap="5px" fxLayoutAlign.xs="space-between" >
                <div fxLayoutGap="5px" class="nav-btn">
                    <button mat-raised-button (click)="moveLeft()" >
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <button mat-raised-button (click)="moveRight()">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <drag-scroll 
            #nav 
            [snap-duration]="150"
            [drag-scroll-y-disabled]="true"
            >
            <div 
                drag-scroll-item 
                class="anime-card" 
                *ngFor="let anime of ANIME"
            >   
         
                <img 
                    class="anime-cover"
                    [lazyLoad]="anime.img_url"
                    onerror="this.src='assets/logo/animet-tv_chibi_1.png';"
                    (click)="setAnime(anime.title)"
                    alt="anime-cover"
                    />
                <div class="anime-title"   >{{ anime.title }}</div>
            </div>
        </drag-scroll>
    </div>
    
</div>



