<div fxLayout="column" class="main">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

        <div fxLayout="column" class="container animate__animated animate__fadeIn">
            <img width="330" src="https://frosty-snyder-1df076.netlify.app/other/404.png" alt="page not found jpg">
        </div>

        <div fxLayoutAlign="center center">
            <button class="home-btn" mat-raised-button color="accent" (click)="goBack()">
                Go Back
            </button>
        </div>
    </div>


</div>