<div class="container">
  <div class="anime-results">
    <div class="scroll-buttons" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
      fxLayoutGap.xs="20px" fxLayoutAlign.xs="space-between">
      <div fxLayoutAlign="start">
        <div class="title-wrapper">
          <div class="title" fxLayout="column">
            <div fxLayoutAlign="start" class="title-name" id="title-name">
              Top of the week
            </div>
            <div *ngIf="(isHandset$ | async) === false" fxLayoutAlign="start" fxLayoutAlign.xs="center"
              class="sub-title">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="(isHandset$ | async) === false" fxLayoutAlign="end" fxLayoutGap="5px"
        fxLayoutAlign.xs="space-between">
        <!-- <button mat-button role="button" (click)="setBrowse()">
          <label style="font-weight: bold;">More </label>
          <mat-icon aria-label="More">more_horiz</mat-icon>
        </button> -->

        <div fxLayoutGap="5px" class="nav-btn">
          <button role="button" mat-raised-button (click)="moveLeft()">
            <mat-icon aria-label="Navigate">keyboard_arrow_left</mat-icon>
          </button>
          <button role="button" mat-raised-button (click)="moveRight()">
            <mat-icon aria-label="Navigate">keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="buffer" fxLayoutAlign="center center" *ngIf="(isLoaded | async) === false">
      <mat-spinner color="accent"></mat-spinner>
    </div>


    <drag-scroll class="drag-scroll" #nav [snap-duration]="200" [drag-scroll-y-disabled]="true"
      *ngIf="(isHandset$ | async) === false">
      <div drag-scroll-item class="anime-card" *ngFor="let anime of TOP_OF_THE_WEEK; trackBy:trackBy">
        <div class="anime-cover-overlay">
          <span class="rating" fxFlexx="row" fxLayoutAlign="center center">
            <mat-icon fxLayoutAlign="center center">star</mat-icon>{{anime.score}}
          </span>
        </div>
        <img class="anime-cover" [src]="anime.img_url" onerror="this.src='assets/placeholder/404notfound.jpg';"
          (click)="setAnime(anime.title)" alt="anime cover" />
        <div class="anime-title">{{ anime.title }}</div>
      </div>
    </drag-scroll>

    <div fxLayoutAlign="center center" *ngIf="(isHandset$ | async)" fxLayout="row wrap">
      <div class="anime-card" *ngFor="let anime of TOP_OF_THE_WEEK">
        <div class="anime-cover-overlay">
          <span class="rating" fxFlexx="row" fxLayoutAlign="center center">
            <mat-icon fxLayoutAlign="center center">star</mat-icon>{{anime.score}}
          </span>
        </div>
        <img class="anime-cover" [src]="anime.img_url" onerror="this.src='assets/placeholder/404notfound.jpg';"
          (click)="setAnime(anime.title)" alt="anime cover" />
        <div class="anime-title">{{ anime.title }}</div>
      </div>
    </div>
  </div>
</div>