@import '../../@theme/styles/theme.scss';
$hot-primary:#F70B53;
/* navbar offset */
.main-view {
    flex: 1;
    margin: 5px auto;
    max-width: 110rem;
  }
  

.container {
  margin: 0 auto;
  margin-top: 0.5rem;
}
.sourceTypeSelector {
  margin: 0.25rem auto;
  min-width: 750px;
  max-width: 1080px;
  .selected {
    background-color: $hot-primary;
    border-radius: 5px;
  }
}


.comment-wrapper {
  margin: 0.25rem auto;
  min-width: 1064px;
}

#disqus-comment-new {
  margin-bottom: 1rem;
}
#disqus_thread {
  background-color: $dark-bg-lighter-5;
  padding: 0 10px;
  border-radius: 15px;
  margin-bottom: 0.25rem;
}
#commentrule {
  color: #e0e0e0;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 10px;
  background-color: #1F1F1F;
  margin: 10px 0;
  display: none;
  border-radius: 10px;
}

#show-comment-btn {
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 15px;
}
.sourceItem {
  background-color: $dark-bg-lighter-5;
  border-radius: 5px;
  padding: 6px 80px;
  img {
    height: 35px;
  }
}

.sourceItem:hover {
  background-color: $dark-bg-lighter-20;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  text-align: center;
  color: $dark-bg-lighter-30;
  font-size: 1.1em;
}

.nav-btn {
  margin: 0 auto;
  max-width: 110rem;
}

  @media only screen and (max-width: 600px) { 
    .container {
      margin: 2px auto;
    }
    .sourceTypeSelector {
      margin: 0.25rem auto;
    }
    .comment-wrapper {
      margin: 0.50rem auto;
      min-width: 98%;
    }

    .main-view {
      //margin-top: 56px!important;
      margin-top: 5px;
    }
    .sourceTypeSelector {
      min-width: 330px!important;
      max-width: 330px!important;
      margin: 1rem .25rem!important;
    }

    .message {
      font-size: 1em;
      width: 25ch;
    }

    .sourceItem {
      padding: 6px 60px;
      img {
        height: 30px;
      }
    }
  }
