<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'" position="end">
    <!-- <mat-toolbar (click)="sidenav.close()" matRipple [matRippleCentered]="true" id="toolbarTitle" fxLayoutAlign="center"
      [routerLink]="['/home']" routerLinkActive="router-link-active">
      <img id="animet_tv_chibi" src="assets/svg/animet_logo.svg" alt="animet-tv chibi" width="150" />
    </mat-toolbar>
    <mat-divider></mat-divider> -->
    <div class="user-container">
      <div class="avatarBtn" [matMenuTriggerFor]="user" *ngIf="isLoggedIn | async" fxLayoutAlign="start center"
        matRipple>
        <div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px" fxLayoutGap.xs="5px">
          <img id="avatar-sidenav-image" [src]="userAvatarFileName | async"
            onerror="this.src='assets/logo/animet-tv_chibi_1.webp'" alt="avatar img" />
          <div class="user-detail" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="5px">
            <div class="avatar-short-name">{{ userAvatarShortEmail | async }}</div>
            <mat-icon>arrow_drop_down</mat-icon>
          </div>
        </div>
      </div>
      <mat-menu #user="matMenu">
        <button matTooltip="Go to my channel" role="button" *ngIf="isLoggedIn | async" mat-menu-item
          [routerLink]="['/profile']" (click)="sidenav.close()">
          <mat-icon>list</mat-icon>
          &nbsp; My profile
        </button>
        <mat-divider></mat-divider>

        <button matTooltip="Edit who can see my channel" *ngIf="isLoggedIn | async" mat-menu-item
          (click)="openShareList(); sidenav.close()" role="button">
          <mat-icon>ios_share</mat-icon>
          &nbsp; Share my profile
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item *ngIf="(isLoggedIn | async)" (click)="onNSFWChange();" matTooltip="Adult content">
          <mat-icon style="color: #f70b53;" *ngIf="isChecked | async">toggle_on</mat-icon>
          <mat-icon *ngIf="(isChecked | async) === false">toggle_off</mat-icon>
          <span>NSFW
            <span style="color: #f70b53; font-style: italic; font-weight: bold;">18+</span>
          </span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="isLoggedIn | async" mat-menu-item [routerLink]="['/home']" (click)="logout()" role="button"
          matTooltip="Logout">
          <mat-icon>logout</mat-icon>
          &nbsp; Logout
        </button>
      </mat-menu>

    </div>

    <div *ngIf="(isLoggedIn | async) === false" class="quick-nav-auth" fxLayoutAlign="center" fxLayout="row">
      <div class="quick-nav-auth-card" [routerLink]="['/login']" routerLinkActive="router-link-active"
        (click)="sidenav.close()">
        <div class="heading" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>login</mat-icon>&nbsp;
          <div>Login</div>
        </div>
      </div>
      <div class="quick-nav-auth-card" [routerLink]="['/login']" routerLinkActive="router-link-active"
        (click)="sidenav.close()">
        <div class="heading" fxLayout="row" fxLayoutAlign="center center">
          <div>Register</div>
        </div>
      </div>
    </div>
    <div class="horz-line"></div>
    <div class="quick-nav-ai" fxLayoutAlign="center">
      <div class="quick-nav-ai-card" [routerLink]="['/experiment']" routerLinkActive="router-link-active"
        (click)="sidenav.close()">
        <div class="heading" fxLayout="row">
          <div>AnimetTV</div>&nbsp;
          <div class="highlight-pink">Exclusive</div>
        </div>
      </div>
    </div>
    <div class="quick-nav-ai" fxLayoutAlign="center">
      <div class="quick-nav-ai-card" [routerLink]="['/anime-tracer']" routerLinkActive="router-link-active"
        (click)="sidenav.close()">
        <div class="heading" fxLayout="row">
          <div>Anime</div>&nbsp;
          <div class="highlight-pink">Tracer</div>
        </div>
      </div>
    </div>
    <div class="quick-nav" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="12px">
      <a class="quick-nav-item" fxLayout="row" fxLayoutAlign="center center" (click)="onWatchRandom(); sidenav.close()">
        <mat-icon>shuffle</mat-icon>&nbsp;&nbsp;
        <label>Random</label>
      </a>
      <a class="quick-nav-item" fxLayout="row" fxLayoutAlign="center center" [routerLink]="['/browse/movie']"
        (click)="sidenav.close()">
        <mat-icon>movie</mat-icon>&nbsp;&nbsp;
        <label>Movies</label>
      </a>
      <a class="quick-nav-item" fxLayout="row" fxLayoutAlign="center center" (click)="sidenav.close()"
        [routerLink]="['/a-z']">
        <label>A-Z List</label>
      </a>
    </div>
    <mat-nav-list>
      <!-- <a mat-list-item (click)="openGenereDialog(); sidenav.close()">
        <mat-icon>arrow_drop_down</mat-icon>&nbsp;&nbsp;
        <label>Genres</label>
      </a> -->
    </mat-nav-list>

    <div class="season-search-container">
      <div class="search-inputs" fxLayout="row" fxLayoutGap="17px">
        <mat-form-field appearance="outline">
          <mat-label>Season:</mat-label>
          <mat-select required>
            <mat-option *ngFor="let season of seasons" [value]="season.value" (click)="setSeason(season.value)">
              {{ season.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Year:</mat-label>
          <mat-select required>
            <mat-option *ngFor="let YEAR of (AVAILABLE_YEAR | async)" [value]="YEAR" (click)="setYear(YEAR)">
              {{YEAR}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button color="accent" id="gobtn" (click)="searchSelectedSeason()">GO</button>
      </div>

      <div class="genre-container">
        <div class="heading-container">
          <div class="horz-line"></div>
          <div class="heading">Genres</div>
          <div class="horz-line"></div>
          <app-genre-dialog class="genre-comp" (selectionMade)="sidenav.close()"></app-genre-dialog>
        </div>
      </div>

    </div>

    <!-- <div mat-subheader class="sub-header">Account</div>
    <mat-nav-list>
      <a mat-list-item *ngIf="(isLoggedIn | async)" [routerLink]="['/profile']" routerLinkActive="router-link-active"
        (click)="sidenav.close()" class="list-item">
        <mat-icon>list</mat-icon>&nbsp;&nbsp;
        <label>Your channel</label>
      </a>
      <a mat-list-item class="share-my-list list-item" *ngIf="(isLoggedIn | async)"
        (click)="openShareList(); sidenav.close()" class="list-item">

        <mat-icon>ios_share</mat-icon> &nbsp;&nbsp;
        <label>Share MyList</label>
      </a>

      <a mat-list-item *ngIf="(isLoggedIn | async)" [routerLink]="['/home']" routerLinkActive="router-link-active"
        (click)="logout(); sidenav.close()" class="list-item">
        <mat-icon>logout</mat-icon>&nbsp;&nbsp;
        <label>Logout</label>
      </a>

      <a mat-list-item *ngIf="(isLoggedIn | async) === false" [routerLink]="['/login']"
        routerLinkActive="router-link-active" (click)="sidenav.close()" class="list-item">
        <mat-icon>login</mat-icon>&nbsp;&nbsp;
        <label> Login In</label>
      </a>

      <a mat-list-item *ngIf="(isLoggedIn | async) === false" [routerLink]="['/signup']"
        routerLinkActive="router-link-active" (click)="sidenav.close()" class="list-item">
        <mat-icon>person_add</mat-icon>&nbsp;&nbsp;
        <label> Create Account</label>
      </a>

    </mat-nav-list> -->


    <!--  <div mat-subheader class="sub-header">Contact Us</div>
    <mat-nav-list>
      <a mat-list-item [href]="'https://discord.gg/nNY94AqFtK'"
        matTooltip="join our discord server to request new animes of your choosing" (click)="sidenav.close()"
        class="discord">
        <svg id="discord-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true" focusable="false" width="24" height="24" style="
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          " preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path
            d="M22 24l-5.25-5l.63 2H4.5A2.5 2.5 0 0 1 2 18.5v-15A2.5 2.5 0 0 1 4.5 1h15A2.5 2.5 0 0 1 22 3.5V24M12 6.8c-2.68 0-4.56 1.15-4.56 1.15c1.03-.92 2.83-1.45 2.83-1.45l-.17-.17c-1.69.03-3.22 1.2-3.22 1.2c-1.72 3.59-1.61 6.69-1.61 6.69c1.4 1.81 3.48 1.68 3.48 1.68l.71-.9c-1.25-.27-2.04-1.38-2.04-1.38S9.3 14.9 12 14.9s4.58-1.28 4.58-1.28s-.79 1.11-2.04 1.38l.71.9s2.08.13 3.48-1.68c0 0 .11-3.1-1.61-6.69c0 0-1.53-1.17-3.22-1.2l-.17.17s1.8.53 2.83 1.45c0 0-1.88-1.15-4.56-1.15m-2.07 3.79c.65 0 1.18.57 1.17 1.27c0 .69-.52 1.27-1.17 1.27c-.64 0-1.16-.58-1.16-1.27c0-.7.51-1.27 1.16-1.27m4.17 0c.65 0 1.17.57 1.17 1.27c0 .69-.52 1.27-1.17 1.27c-.64 0-1.16-.58-1.16-1.27c0-.7.51-1.27 1.16-1.27z"
            fill="#7289DA" />
        </svg>
        &nbsp;&nbsp;
        <label>Discord Server</label>
      </a>

      <a mat-list-item matTooltip="Help keep our servers up" (click)="goToDontation(); sidenav.close()"
        [routerLink]="['/info/about']" routerLinkActive="router-link-active">
        <mat-icon>volunteer_activism</mat-icon>&nbsp;&nbsp;
        <label>About</label>
      </a>

        <a mat-list-item matTooltip="Common Questions" (click)="sidenav.close()" [routerLink]="['/faq']"
        routerLinkActive="router-link-active" (click)="goToDontation()">
        <mat-icon>help_outline</mat-icon>&nbsp;&nbsp;
        <label>Faq</label>
      </a>
    </mat-nav-list>

    <div mat-subheader class="sub-header">Support Us</div>
    <mat-nav-list>

      <a mat-list-item matTooltip="help keep our servers up" (click)="shareCurrentLink(); sidenav.close()">
        <mat-icon>share</mat-icon>&nbsp;&nbsp;
        <label>Share Us</label>
      </a>
      <a mat-list-item matTooltip="help keep our servers up" (click)="sidenav.close()">
        <a matTooltip="Donations" href="https://ko-fi.com/M4M65MUQM" target="_blank"><img height="36"
            style="border: 0px; height: 36px" src="https://img.animet.site/file/animettv-avatars/kofi5.png" border="0"
            alt="Buy Me a Coffee at ko-fi.com" /></a>
      </a>
    </mat-nav-list> -->
  </mat-sidenav>
  <mat-sidenav-content fullscreen>
    <mat-toolbar color="secoundary" class="
        navbar-content
        animate__animated animate__fadeIn animate__faster
        sticky
      " id="navbar">
      <div type="button" aria-label="go back" (click)="goBack()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="back toggle icon" [inline]="true" class="icon">arrow_back_ios</mat-icon>
      </div>
      <!-- <span class="spacer" *ngIf="isHandset$ | async"></span> -->
      <a matRipple [matRippleCentered]="true" [routerLink]="['/home']" routerLinkActive="router-link-active"
        (click)="scollToHome(); sidenav.close()">
        <img class="logo" fxLayoutAlign="start" fxLayoutAlign.xs="center" src="assets/svg/animet_logo.svg"
          loading="lazy" alt="AnimetTV logo" />
      </a>
      <span class="spacer" *ngIf="(isHandset$ | async) === false"></span>

      <div *ngIf="(isHandset$ | async) === false" fxLayoutAlign="start" fxFlex="80%" class="nav-item-wrapper">

        <div fxLayoutAlign="space-between" fxLayoutGap="20px">
          <div class="home nav-item" fxLayoutAlign="start center" fxLayoutGap="5px" [routerLink]="['/home']"
            (click)="sidenav.close(); scollToHome()">
            <mat-icon [inline]="true" class="nav-icon">home</mat-icon>
            <label>HOME</label>
          </div>

          <div class="search nav-item" fxLayoutAlign="start center" fxLayoutGap="8px" (click)="openSearchBar()">
            <mat-icon [inline]="true" class="nav-icon">search</mat-icon>
            <label>SEARCH</label>
          </div>

          <div class="nav-item" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="openGenereDialog()">
            <label>GENRES</label>
            <mat-icon [inline]="true" class="nav-icon">arrow_drop_down</mat-icon>
          </div>

          <!-- <div class="search nav-item" fxLayoutAlign="start center" fxLayoutGap="8px"   
          [routerLink]="['/home']" routerLinkActive="router-link-active"
          (click)="scrollToMustWatch(); sidenav.close();"  
          >
            <mat-icon>auto_awesome</mat-icon>
            <label>MUST-WATCH</label>
          </div> -->

          <!-- <a 
            class="nav-item beta"
            fxLayoutAlign="center center"  
            href="https://animet.tv/home"
          >
            This is a BETA site &nbsp;<span class="higlight">LIVE SITE HERE</span>
          </a> -->
          <div *ngIf="(isHandset$ | async) == false" class="nav-item" fxLayoutAlign="start center" fxLayoutGap="5px"
            [routerLink]="['/browse/movie']" routerLinkActive="router-link-active">
            <mat-icon [inline]="true" class="nav-icon">live_tv</mat-icon>
            <label>MOVIES</label>
          </div>
          <!-- <div
            *ngIf="(isHandset$ | async) == false"
            class="nav-item"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
            [routerLink]="['/quick-bites']"
            routerLinkActive="router-link-active"
          >
            <img
              class="nav-icon"
              src="../../../../assets/icons/quick-bites-icon.png"
              alt="quick bites icon"
            />
            <label>AMV</label>
          </div> -->

          <div *ngIf="(isHandset$ | async) == false" class="nav-item" fxLayoutAlign="start center" fxLayoutGap="5px"
            [routerLink]="['/experiment']" routerLinkActive="router-link-active">
            <mat-icon [inline]="true" class="nav-icon">60fps</mat-icon>
            <label>A.I UPSCALING</label>
          </div>
          <div *ngIf="(isHandset$ | async) == false" class="nav-item" fxLayoutAlign="start center" fxLayoutGap="5px"
            [routerLink]="['/a-z']" routerLinkActive="router-link-active">
            <label>A-Z List</label>
          </div>
          <!-- <div
            *ngIf="(isHandset$ | async) == false"
            class="nav-item"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
            [routerLink]="['/donation']"
            routerLinkActive="router-link-active"
          >
            <mat-icon [inline]="true" class="nav-icon"
              >volunteer_activism</mat-icon
            >
            <label>ABOUT</label>
          </div> -->

          <!-- <div
            *ngIf="(isHandset$ | async) == false"
            class="nav-item"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
            [routerLink]="['/faq']"
            routerLinkActive="router-link-active"
            id="faq"
          >
            <mat-icon [inline]="true" class="nav-icon">help_outline</mat-icon>
            <label>FAQ</label>
          </div> -->
        </div>
      </div>
      <!-- <div *ngIf="(isHandset$ | async) === false"
         fxLayoutAlign="center center"
         fxLayoutGap="5px"
         class="user-ticker"
         >
          <mat-icon style="font-weight: 500;" matTooltip="Online" color="accent">people</mat-icon>
          <span style="font-weight: 500;">{{totalUserSessions}}</span>
          &nbsp;&nbsp;&nbsp;
        </div> -->
      <span class="spacer"></span>
      <div *ngIf="isHandset$ | async" (click)="openSearchBar(); sidenav.close()" fxLayoutAlign="center center" matRipple
        [matRippleCentered]="true" class="search-btn">
        <mat-icon [inline]="true" class="icon" id="search-icon">search</mat-icon>
      </div>
      <div type="button" aria-label="Toggle sidenav" id="hamburger" (click)="drawer.toggle()" role="button">
        <mat-icon aria-label="Side nav toggle icon" [inline]="true" class="icon">menu</mat-icon>
      </div>
      <div *ngIf="(isLoggedIn | async) === false" routerLinkActive="router-link-active" matRipple
        [matRippleCentered]="true">
        <!-- <div *ngIf="isHandset$ | async" [routerLink]="['/login']">
          <mat-icon [inline]="true" class="icon" fxLayoutAlign="end center">login</mat-icon>
        </div> -->

        <div *ngIf="!(isHandset$ | async)" fxLayout="row" fxLayoutAlign="center center" mat-menu-item
          [routerLink]="['/login']">
          <mat-icon>login</mat-icon>
          <label>LOG IN</label>
        </div>
      </div>

      <div class="avatarBtn" [matMenuTriggerFor]="user" *ngIf="(isLoggedIn | async) && (isHandset$ | async) === false "
        fxLayoutAlign="center center" matRipple [matRippleCentered]="true">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxLayoutGap.xs="5px">
          <div class="avatar-short-name" *ngIf="(isHandset$ | async) === false">{{ userAvatarShortEmail | async }}</div>
          <img id="avatar-image" [src]="userAvatarFileName | async"
            onerror="this.src='assets/logo/animet-tv_chibi_1.webp'" alt="avatar img" />
        </div>
      </div>
      <mat-menu #user="matMenu">
        <button matTooltip="Go to my channel" role="button" *ngIf="isLoggedIn | async" mat-menu-item
          [routerLink]="['/profile']">
          <mat-icon>list</mat-icon>
          &nbsp; My profile
        </button>
        <mat-divider></mat-divider>

        <button matTooltip="Edit who can see my channel" *ngIf="isLoggedIn | async" mat-menu-item
          (click)="openShareList(); sidenav.close()" role="button">
          <mat-icon>ios_share</mat-icon>
          &nbsp; Share my profile
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item *ngIf="(isLoggedIn | async)" (click)="onNSFWChange();" matTooltip="Adult content">
          <mat-icon style="color: #f70b53;" *ngIf="isChecked | async">toggle_on</mat-icon>
          <mat-icon *ngIf="(isChecked | async) === false">toggle_off</mat-icon>
          <span>NSFW
            <span style="color: #f70b53; font-style: italic; font-weight: bold;">18+</span>
          </span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="isLoggedIn | async" mat-menu-item [routerLink]="['/home']" (click)="logout()" role="button"
          matTooltip="Logout">
          <mat-icon>logout</mat-icon>
          &nbsp; Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    <mat-progress-bar *ngIf="isBuffering | async" role="progressbar" color="accent" mode="indeterminate"
      class="global-progress-bar"></mat-progress-bar>
    <main>
      <router-outlet>
      </router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>