.item {
  margin: 1rem 0;
}

.title {
  font-size: 1.2rem;
  line-height: 1.7;
}
.choose-file,
.status-btn {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1rem;
  }

  .choose-file,
  .status-btn {
    font-size: 0.80rem;
  }
}
