.section {
    margin: 0.5rem 0;
}

.heading {
    font-size: 1.5rem;
    width: 100%;
}
.heading-title {
    font-size: 1.4rem;
    font-weight: bold;
}
.reg-heading {
    font-size: 1.45rem;
}

.close-btn {
    padding-bottom: 20px;
}